-fx-underline: false;
-fx-border-color: transparent;
-fx-border-width: 0 0 1 0;
-fx-border-style: solid;

/* Hover effect */
-fx-background-color: transparent;
-fx-text-fill: #000;
}

.my-node:hover {
-fx-underline: true;
}